@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elnet</h1>
    <p class="lead">We help you to calculate electric circuits!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What's your name?</h2>

        @if (Session["Username"] == null)
        {
            <p>Wouldn't it be nice and personal if we could address you by name?</p>

            using (Html.BeginForm())
            {
                @Html.TextBox("nameText");

                <button type="submit" class="btn btn-primary btn-sm">Submit name</button>
            }
        }
        else if (Session["Username"].ToString() == "")
        {
            <p>Wouldn't it be nice and personal if we could address you by name?</p>

            using (Html.BeginForm())
            {
                @Html.TextBox("nameText");

                <button type="submit" class="btn btn-primary btn-sm">Submit name</button>
            }
            <p>Sorry, your name may not be blank.</p>
        }
        else
        {
            @Html.Partial("_PartialName")
        }
    </div>

    <div class="col-md-6">
        <h2>Calculator</h2>
        <p>Click the button!</p>

        <input type="button" class="btn btn-primary btn-sm" value="Let's Go!" onclick="location.href='@Url.Action("Calculator", "Home",null)'" />
    </div>
</div>