@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Elnet</h1>
    <p class="lead">We help you to calculate electric circuits!</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>What's your name?</h2>
        <p>Wouldn't it be nice and personal if we could address you by name?</p>
        @using (Html.BeginForm())
        {
            @Html.TextBox("nameText");

            <input id="name_Button" type="submit" value="Submit name" />
            <br><br>
            <p>@ViewBag.welcomeMessage</p>
        }
    </div>

    <div class="col-md-6">
        <h2>Calculator</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>